dark-mode-toggle.slider {
  --dark-mode-toggle-height: calc(var(--dark-mode-toggle-icon-size, 1rem) * 2);
  --dark-mode-toggle-width: calc(var(--dark-mode-toggle-icon-size, 1rem) * 4.5);
  --dark-mode-toggle-knob-size: calc(var(--dark-mode-toggle-height) - 8px);
  --dark-mode-toggle-inset: calc((var(--dark-mode-toggle-height) - var(--dark-mode-toggle-knob-size)) / 2);
}

dark-mode-toggle.slider::part(toggleLabel) {
  display: inline-block;
  position: relative;
  height: var(--dark-mode-toggle-height);
  width: var(--dark-mode-toggle-width);
  background-color: var(--toggle-bg, #b7bbbd);
  border-radius: var(--dark-mode-toggle-height);
  transition: 0.4s;
}

dark-mode-toggle.slider::part(toggleLabel)::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--dark-mode-toggle-inset);
  left: var(--dark-mode-toggle-inset);
  height: var(--dark-mode-toggle-knob-size);
  width: var(--dark-mode-toggle-knob-size);
  border-radius: 100%;
  box-shadow: 0 0.15em 0.3em rgb(0 0 0 / 15%), 0 0.2em 0.5em rgb(0 0 0 / 30%);
  background-color: #fff;
  color: #333;
  transition: 0.4s;
  content: "";
  background-position: center;
  background-size: var(--dark-mode-toggle-icon-icon-size, 1rem);
  background-image: var(--dark-mode-toggle-icon-light-icon, url("../assets/icons/sun.svg"));
  box-sizing: border-box;
}

dark-mode-toggle.slider[mode="dark"]::part(toggleLabel) {
  background-color: var(--toggle-bg-active, #4e5255);
}

dark-mode-toggle.slider[mode="dark"]::part(toggleLabel)::before {
  left: calc(100% - var(--dark-mode-toggle-knob-size) - var(--dark-mode-toggle-inset));
  border-color: #000;
  background-color: #ccc;
  color: #000;
  background-size: var(--dark-mode-toggle-icon-icon-size, 1rem);
  background-image: var(--dark-mode-toggle-dark-icon, url("../assets/icons/moon.svg"));
  filter: var(--dark-mode-toggle-icon-filter, invert(100%));
  box-shadow: 0 0.5px hsl(0deg 0% 100% / 16%);
}

dark-mode-toggle.slider::part(toggleLabel)::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--dark-mode-toggle-inset);
  left: calc(100% - var(--dark-mode-toggle-knob-size) - var(--dark-mode-toggle-inset));
  height: var(--dark-mode-toggle-knob-size);
  width: var(--dark-mode-toggle-knob-size);
  border-radius: 100%;
  color: #333;
  content: "";
  background-position: center;
  background-size: var(--dark-mode-toggle-icon-icon-size, 1rem);
  background-image: var(--dark-mode-toggle-dark-icon, url("../assets/icons/moon.svg"));
  background-repeat: no-repeat;
  box-sizing: border-box;
  opacity: 0.5;
}

dark-mode-toggle.slider[mode="dark"]::part(toggleLabel)::after {
  left: var(--dark-mode-toggle-inset);
  background-image: var(--dark-mode-toggle-light-icon, url("../assets/icons/sun.svg"));
  filter: var(--dark-mode-toggle-icon-filter, invert(100%));
}
