
.idea
dist
dist-old
earthcal-linux-x64
node_modules
usr
electron-builder.yml
CNAME
External Libraries
Scratches and Consoles
resources
earthcal_0.9.5_amd64.snap
earthcal_0.9.6_amd64.snap
earthcal_0.9.7_amd64.snap
earthcal_0.9.8_amd64.snap
earthcal_1.0.2_amd64.snap
experiments
/earthcal_0.9.5_amd64.snap
/earthcal_0.9.6_amd64.snap
.htaccess
api/.htaccess
api/buwanaconn_env.php
api/calconn_env.php
api/stripe_env.php

/vendor/
