
.idea
CNAME
External Libraries
Scratches and Consoles
trash
experiments
.htaccess
api/.htaccess
api/buwanaconn_env.php
api/calconn_env.php
api/stripe_env.php

vendor/
electron/earthcal_1.1.5_amd64.snap
electron/earthcal_1.1.7_amd64.snap
node_modules
electron/earthcal-linux-x64
electron/node_modules
electron/public

# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
DerivedData/
